  <nav class="navbar ">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/Principal">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><button mat-button color="primary"><a href="/QuienSoy#quien">Quien</a></button></li>      
          <li><button mat-button color="accent"><a href="/QuienSoy#que">Que es</a></button></li>
          <li> <button mat-button color="warn"><a href="/QuienSoy#donde">Donde</a></button></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- First Container -->
  <div id ="quiwn"class="container-fluid bg-1 text-center">
    <h3 class="margin">Tamara Cristaldo</h3>
    <img src="/assets/imagenes/quiensoy.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3> UTN FRA</h3>
    <h2>Laboratorio IV </h2>
  </div>
  
  <!-- Second Container -->
  <div id ="que" class="container-fluid bg-2 text-center">
    <h3 class="margin">Explicación del juego ¿Qué ves?</h3>
    <p> ¿Qué ves? - EL objetivo de este juego es muy simple: cada imagen representa una palabra o frase que debes descubrir. </p>
    <p> Puede ser un objeto, un verbo, un adjetivo, etc. ¿Crees poder hacerlo?. </p>
    <br />
    
    <button mat-raised-button >
        <a href="../Juegos/QueVes" >
          Ir al juego <i class="material-icons md-24"></i> 
        </a>
    </button>
  </div>
  

  
  <!-- Footer -->
  <footer id="donde" class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://github.com/tamm005" target="blank">www.tamara.com.ar</a></p> 
  </footer>