
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
<div class="bg-1">
  <div class="container">
  
      
    <div class="row text-center fuente">

        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="../assets/imagenes/cerebro.png" alt="Paris" width="400" height="300"><br />
            <h3><strong>Velocidad aritmética </strong></h3>
            <p>Juego de agilidad mental</p>
            <!-- <button class="btn">Buy Tickets</button> -->
            <button mat-raised-button color="primary"  (click)="Juego('Agilidad')">Jugar</button>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
              <img src="../assets/imagenes/adivina.png" alt="Paris" width="400" height="300"><br />
              <h3><strong>Adivina el número secreto </strong></h3>
              <p>Juego de estrategia</p>
              <!-- <button class="btn">Buy Tickets</button> -->
              <button mat-raised-button color="primary"  (click)="Juego('Adivina')">Jugar</button>
            </div>
          </div>
          <div class="col-sm-4">
              <div class="thumbnail">
                <img src="../assets/imagenes/ppt.png" alt="Paris" width="400" height="300"><br />
                <h3><strong>Piedra Papel o Tijera</strong></h3>
                <p>Juego contra la máquina</p>
                <!-- <button class="btn">Buy Tickets</button> -->
                <button mat-raised-button color="primary"  (click)="Juego('PiedraPapelTijera')">Jugar</button>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <img src="../assets/imagenes/miJuego.png" alt="Paris" width="400" height="300"><br />
                  <h3><strong>¿Qué ves? </strong></h3>
                  <p>Juego de agilidad mental</p>
                  <!-- <button class="btn">Buy Tickets</button> -->
                  <button mat-raised-button color="primary"  (click)="Juego('QueVes')">Jugar</button>
                </div>
              </div>
              <div class="col-sm-4">
                  <div class="thumbnail">
                    <img src="../assets/imagenes/anagrama.png" alt="Paris" width="400" height="300"><br />
                    <h3><strong>Anagrama </strong></h3>
                    <p>Juego de agilidad mental</p>
                    <!-- <button class="btn">Buy Tickets</button> -->
                    <button mat-raised-button color="primary"  (click)="Juego('Anagrama')">Jugar</button>
                  </div>
                </div>
        
    </div>
  </div>
</div>