<!-- <body>

  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/Principal">Sala De Juegos</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/Registro">Registrarse</a></li>
        </ul>
      </div>
    </div>  
  <div id ="quiwn" class="container-fluid bg-1 text-center">
  
  <div id="id01" >
   
    <form class="modal-content animate" >
      <div class="container">
        <label><b>Email</b></label>
        <input type="text" placeholder="Ingresa tu correo" name="email" required>
  
        <label><b>Clave</b></label>
        <input type="password" placeholder="Aca la clave" name="psw" required>
  
        <label><b>Repita la clave</b></label>
        <input type="password" placeholder="Aca repeti la misa clave  de arriba" name="psw-repeat" required>
        <input type="checkbox" checked="checked">Recordarme
      
        <div class="clearfix">            
          <button mat-raised-button color="warn"><a class="material-button" routerLink="/Principal"> Cancelar</a></button>
          <button type="submit" mat-raised-button color="primary" class="material-button">Registrarme</button>
        </div>
      </div>
    </form>
  </div>
</div>
  <script>

  var modal = document.getElementById('id01');

  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>

  
  
  </body> -->

<body>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><h2 id="terminos">Términos y condiciones</h2><br /><br /></span>
    </mat-toolbar-row>
    
     <mat-toolbar-row>
        <span>El Gobierno de la República Argentina no es responsable por los daños y perjuicios que puedan surgir, incluyendo, sin límite, daños,<br />
           pérdidas o gastos directos, indirectos, que surjan en relación con el uso de los Activos Digitales o la imposibilidad de uso,<br />
            en relación con cualquier falla en el vencimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión,<br />
             virus de computadora o falla del sistema de línea, aún en el caso de que el Gobierno Nacional o sus representantes fueran informados sobre la posibilidad de dichos daños, pérdidas o gastos.</span>
        <span class="example-spacer"></span>        
     </mat-toolbar-row>
     <mat-toolbar-row>
        <span><p><br />El Gobierno Nacional no puede garantizar que la transmisión de información por parte de los Usuarios sea completamente segura. El Usuario asume este riesgo.</p></span>
        <span class="example-spacer"></span>        
     </mat-toolbar-row>
     <mat-toolbar-row>
        <span></span>
        <span class="example-spacer"></span>        
     </mat-toolbar-row>
  </mat-toolbar>
      <div style="text-align:center">
          <strong><p>No leer lo anterior, es solo un ejemplo sacado de https://www.argentina.gob.ar/terminos-y-condiciones </p></strong>
          <button mat-raised-button color="primary" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Acepto</button>
          <button mat-raised-button color="warn"  routerLink="/Principal" style="width:auto;">No acepto</button>

          <div id="id01" class="modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <form class="modal-content animate" >
              <div class="container">
                <!-- <label><b>Email</b></label>
                <input  [(ngModel)]="email"  type="email" placeholder="Ingrese email" name="email" required> -->
                
                <label><b>Email</b></label>
                <input type="text" [(ngModel)]="email" placeholder="Ingrese email" name="email" required>

                <label><b>Clave</b></label>
                <input type="password"   [(ngModel)]="pass"  placeholder="Ingrese la clave" name="psw" required>
          
                <label><b>Repita la clave</b></label>
                <input  [(ngModel)]="pass2"  type="password" placeholder="repita la misma clave" name="psw-repeat" required>
                <input type="checkbox" checked="checked">Recordar mis datos
                <p>creando la cuenta aceptando los<a  onclick="document.getElementById('id01').style.display='none'"  >Terminos y condiciones</a>.</p>
          
                <!-- <div class="clearfix"> -->
                  <button mat-raised-button color="warn" onclick="document.getElementById('id01').style.display='none'" >Me arrepenti</button>
                  <button mat-raised-button color="primary" (click)="registrarse()" >Registrarme</button>
                <!-- </div> -->
              </div>
            </form>
          </div>
      </div>
     
      
      <script>
      // Get the modal
      var modal = document.getElementById('id01');
      
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
      </script>


      
</body>