<p>
  piedra-papel-tijera!
</p>

<div class='row-fluid'>
  <div class='span4 text-center box'>
    <div>
      <img alt='Icono Piedra' src='../../../assets/imagenes/rock-icon.png'>
    </div>
    <br>
    <p>
      <a class='btn btn-large' href='?choice=Piedra'>PIEDRA</a>
    </p>
  </div>
  <div class='span4 text-center box'>
    <div>
      <img alt='Icono Papel' src='../../../assets/imagenes/paper-icon.png'>
    </div>
    <br>
    <p>
      <a class='btn btn-large' href='?choice=Papel'>PAPEL</a>
    </p>
  </div>
  <div class='span4 text-center box'>
    <div>
      <img alt='Icono Tijera' src='../../../assets/imagenes/scissor-icon.png'>
    </div>
    <br>
    <p>
      <a class='btn btn-large' href='?choice=Tijera'>TIJERA</a>
    </p>
  </div>
</div>

