<button *ngIf="mostrarBoton" type="button" class="btn" (click)="limpiar()" >Abandonar</button>
<div class="content">
  <div class="well color-fondo">
    <h1 style="text-align:center">
    <h3>{{eleccionMaquina}}</h3>
    <h2>{{resultado}}</h2> 
    <h3>{{estadisticas}}</h3> 
    
    </h1><br />
    
    
    <div class="row margen-izq">  
      <div class="col-md-4">
        <img alt='Icono Piedra' src='../../../assets/imagenes/rock-icon.png'><br /><br /><br />
        <p>
          <button type="button" class="btn" (click)="elijePiedra()">Piedra</button>
        </p>
      </div>
    
      <div class="col-md-4">
        <img alt='Icono Papel' src='../../../assets/imagenes/paper-icon.png'><br /><br /><br />
        <p>
          <button type="button" class="btn" (click)="elijePapel()">Papel</button>
        </p>
      </div>

    
      <div class="col-md-4">
        <img alt='Icono Tijera' src='../../../assets/imagenes/scissor-icon.png'><br /><br /><br />
        <p>
          <button type="button" class="btn" (click)="elijeTijera()">Tijera</button>
        </p>
      </div> 

    </div>
  </div>
</div>
