<div class="content">
  <h1 style="text-align:center">
    piedra-papel-tijera!
  </h1><br />
  <br />  
  
  <div class='row-fluid' >
    <div class='col col-md-4'>
      <div>
        <img alt='Icono Piedra' src='../../../assets/imagenes/rock-icon.png'>
      </div>
      <br>
      <p>
        <button type="button" class="btn" (click)="elijePiedra()">Piedra</button>
      </p>
    </div>
    <div class='col col-md-4'>
      <div>
        <img alt='Icono Papel' src='../../../assets/imagenes/paper-icon.png'>
      </div>
      <br>
      <p>
        <button type="button" class="btn" (click)="elijePapel()">Papel</button>
      </p>
    </div>
    <div class='col col-md-4'>
      <div>
        <img alt='Icono Tijera' src='../../../assets/imagenes/scissor-icon.png'>
      </div>
      <br>
      <p>
        <button type="button" class="btn" (click)="elijeTijera()">Tijera</button>
      </p>
    </div>
  </div>
  
  
</div>
